.advantages {
  background-color: @secondary-bg;
}

.advantages__intro-wrapper {
  background-color: @main-bg;
}

.advantages__intro {
  color: @menu;
  font-size: 24px;
  margin-bottom: 0;
  margin-top: 46px;
}

.advantages__list {
  margin: 0;
  padding: 120px 30px 0;
  font-weight: lighter;
  list-style: none;
  background: url("../img/bg-triangle-white.svg")  no-repeat;
}

.advantages__item {

}

.advantages__title {

}

.advantages__description {

}

.advantages__img {
  display: block;
  position: relative;
  bottom: -42px;
  z-index: 1;
  margin: 0 auto;
}
