.advantages {
  background-color: @secondary-bg;
}

.advantages__intro-wrapper {
  margin-top: 40px;
  background-color: @main-bg;
}

.advantages__intro {
  color: @menu;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 0;
  font-weight: 300;

  &--second {
    margin-top: 30px;
    padding-bottom: 32px;
  }
}

.advantages__wrapper {
  background: url("../img/bg-triangle-white.svg")  no-repeat;
  background-position: 0 0;
  background-size: 100% 32px;
}

.advantages__list {
  margin: 0;
  padding: 81px 10px 0;
  font-weight: 400;
  list-style: none;
}

.advantages__title {
  font-size: 18px;
  margin: 0;
}

.advantages__description {
  color: @menu;
  margin-top: 12px;
  margin-bottom: 31px;
}

.advantages__img-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: -33px;
}

.advantages__img {
  display: block;
  position: relative;
  bottom: -42px;
  z-index: 1;
  margin: 0 auto;
}

@media (max-width: @mobile-only) {
  .advantages__break {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .advantages__intro-wrapper {
    margin-top: 49px;
    padding-bottom: 16px;
  }

  .advantages__intro {
    font-size: 40px;
    line-height: 48px;
    margin: 0;

    &--second {
      width: 500px;
      margin: 0 auto;
    }
  }

  .advantages__wrapper {
    background-size: 100% 50px;
  }

  .advantages__list-wrapper {
    padding-top: 0;
    display: flex;
    padding-bottom: 7px;
  }

  .advantages__list {
    text-align: left;
    width: 310px;
    padding: 0;
    padding-top: 73px;
    padding-right: 0;
    margin-left: auto;
  }

  .advantages__description {
    margin-top: 12px;
    margin-bottom: 34px;

    &--world,
    &--friends {
      margin-bottom: 36px;
    }
  }

  .advantages__img-list {
    order: -1;
    margin-top: -39px;
  }
}

@media (max-width: @mobile-and-tablet-only) {
  .advantages__img-item--hidden {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .advantages__intro-wrapper {
    margin-top: 66px;
    padding-bottom: 78px;
  }

  .advantages__intro {
    font-size: 50px;
    line-height: 60px;

    &--second {
      padding: 0 200px;
    }
  }

  .advantages__wrapper {
    background-size: 100% 92px;
  }

  .advantages__list-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
  }

  .advantages__list {
    flex-basis: 1200px;
    padding: 56px 30px 0;
    display: flex;
    justify-content: space-between;
  }

  .advantages__item {
    width: 240px;
    line-height: 30px;
    text-align: center;
  }

  .advantages__title {
    font-size: 30px;
  }

  .advantages__description {
    margin-top: 24px;
    font-size: 18px;
  }

  .advantages__break {
    display: none;
  }

  .advantages__img-list {
    display: flex;
    order: -1;
    flex-basis: 1200px;
    justify-content: space-between;
    padding: 0 4px;
    padding-top: 28px;
    margin-top: -30px;
  }

  .advantages__img-item:nth-child(2) {
    margin: 0 auto;
  }

  .advantages__img {
    position: static;
  }
}
