.contacts {
  background-color: @main-bg;
  padding: 18px 0 0;
  color: @menu;
}

.contacts__intro {
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 10px;
  font-weight: 300;
}

.contacts__list {
  list-style: none;
  padding: 0;
}

.contacts__label {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.contacts__number {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: @accent;
  display: block;
  margin-bottom: 22px;
}

.contacts__email {
  display: block;
  margin-top: 2px;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: @accent;

  &:hover {
    color: @menu;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 1px;
      left: 0;
      height: 1px;
      background-color: @menu;
    }
  }

  &:active {
    color: fade(@menu, 30%);
  }
}

.contacts__address {
  display: block;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: @accent;
  margin: 0;
  margin-top: 3px;
  padding: 0 0 25px;
}

.contacts__map {
  position: relative;
  height: 200px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    background: url("../img/bg-triangle-white-footer.svg") no-repeat;
    top: 0;
    left: 0;
    right: 0;
    height: 33px;
    background-size: 100% 33px;
    background-position: 50% 0;
  }
}

.contacts__map-frame {
  height: 200px;
  width: 100%;
  border: 0;
  background: url("../img/bg-map-mobile@1x.jpg") no-repeat;
  background-size: 320px 645px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }
}

@media (min-width: @tablet-width) {
  .contacts {
    padding-top: 6px;
  }

  .contacts__intro {
    font-size: 40px;
    line-height: 48px;
    padding: 0 120px;
    margin-bottom: 43px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 29px;
  }

  .contacts__item {
    margin-bottom: 22px;

    &--number {
      margin-left: 18px;
    }

    &--email {
      margin-left: auto;
    }

    &--address {
      margin: 0 auto;
    }
  }

  .contacts__number {
    margin-top: 4px;
  }

  .contacts__email {
    margin-top: 5px;
  }

  .contacts__address {
    margin-top: 6px;
    padding: 0 140px 15px;
  }

  .contacts__map {
    height: 372px;

    &::before {
      height: 67px;
      background-size: 100% 67px;
    }
  }

  .contacts__map-frame {
    height: 372px;
    background: url("../img/bg-map-mobile@1x.jpg") no-repeat;
    background-size: 700px 848px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-mobile@2x.jpg");
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    padding-top: 13px;
  }

  .contacts__intro {
    font-size: 50px;
    line-height: 60px;
    padding: 0 230px;
  }

  .contacts__list {
    margin-top: 56px;
    margin-bottom: 0;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .contacts__item {
    flex-basis: 237px;
    margin-bottom: 0;

    &--number {
      margin-left: 0;
    }

    &--email {
      order: 4;
      margin-left: 0;
    }

    &--address {
      margin: 0;
    }
  }

  .contacts__label {
    margin-bottom: 23px;
  }

  .contacts__email {
    margin-top: 25px;
  }

  .contacts__address {
    padding: 0 10px 0;
  }

  .contacts__map {
    margin-top: 20px;
    height: 500px;

    &::before {
      height: 104px;
      background-size: 100% 104px;
    }
  }

  .contacts__map-frame {
    height: 500px;
    background: url("../img/bg-map-mobile@1x.jpg") no-repeat;
    background-size: 1200px 976px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-mobile@2x.jpg");
    }
  }
}
