.contacts {
  background-color: @main-bg;
  padding: 0;
  color: @menu;
}

.contacts__intro {
  font-size: 24px;
}

.contacts__list {
  list-style: none;
  padding: 0;
}

.contacts__label {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

.contacts__number {
  font-size: 24px;
  font-weight: lighter;
  color: @accent;
}

.contacts__email {
  font-size: 24px;
  font-weight: lighter;
  color: @accent;
}

.contacts__address {
  font-size: 24px;
  font-weight: lighter;
  color: @accent;
  margin: 0;
  padding: 0 0 40px;
}

.contacts__map {
  min-height: 200px;
  position: relative;
  background: url("../img/bg-triangle-white-footer.svg") no-repeat, url("../img/bg-map-mobile@1x.png") no-repeat;
  background-position: 0 0, 0 -445px;
  background-size: contain, cover;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -18px;
    margin-top: -6px;
    height: 36px;
    width: 36px;
    background-image: url("../img/icon-map-marker.svg");
  }
}

@media (min-width: @tablet-width) {
  .contacts__intro {
    font-size: 40px;
    line-height: normal;
  }

  .contacts__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .contacts__item {
    &--address {
      margin: 0 auto;
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts__intro {
    font-size: 50px;
    padding: 0 230px;
  }

  .contacts__item {
    flex-basis: 237px;

    &--email {
      order: 4;
    }

    &--address {
      margin: 0;
    }

    .contacts__label {
      margin-bottom: 25px;
    }
  }
}
