.contest-form {
  background-color: @main-bg;
}

.contest-form__intro {
  line-height: 30px;
  padding-top: 45px;
  padding-bottom: 17px;
  color: @menu;
}

.contest-form__personal {
  border: none;
  display: flex;
  text-align: left;
  padding-bottom: 36px;
}

.contest-form__personal-wrapper {
  display: flex;
  flex-direction: column;
}

.contest-form__label {
  color: @accent;
  text-transform: uppercase;
  padding-left: 22px;
  margin-bottom: 3px;
  margin-top: 15px;
}

.contest-form__legend {
  padding: 39px 20px 18px;
  line-height: 18px;
  color: @accent;
  text-align: center;
  text-transform: uppercase;

  &--radio {
    padding-bottom: 14px;
  }

  &--describe {
    padding-top: 38px;
    padding-bottom: 11px;
  }
}

.contest-form__text-input {
  width: 256px;
  font-family: inherit;
  color: @menu;
  font-size: 18px;
  line-height: 30px;
  vertical-align: center;
  min-height: 30px;
  padding: 14px 0;
  padding-left: 20px;
  border: 2px solid @border;
  margin: 5px 0 6px;

  &:hover {
    border-color: @menu;
  }

  &:active {
    border-color: @accent;
  }
}

.contest-form__achievements {
  border: none;
  display: flex;
  direction: column;
  flex-wrap: wrap;
  padding-bottom: 16px;
}

.contest-form__achievement-wrapper {
  display: flex;
  flex-direction: column;
}

.contest-form__wrapper {
  margin: 0 auto;
  background-color: @secondary-bg;

  &--describe,
  &--contacts {
    background-color: @main-bg;
  }
}

.contest-form__checkbox {
  & + .contest-form__checkbox-label::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 3px;
    width: 35px;
    height: 35px;
    background-color: @main-bg;
    box-shadow: 0 0 0 2px @border;
  }

  &:checked + .contest-form__checkbox-label::before {
    background-image: url("../img/icon-checked.svg");
    background-position: 6px 10px;
    background-repeat: no-repeat;
  }
}

.contest-form__contacts {
  border: none;
  text-align: left;
  padding-top: 19px;
  padding-bottom: 36px;
  display: flex;
}

.contest-form__phone-wrapper,
.contest-form__email-wrapper {
  display: flex;
  flex-direction: column;
}

.contest-form__app-used {
  display: flex;
  direction: column;
  flex-wrap: wrap;
  border: none;
  padding-bottom: 2px;
}

.contest-form__radio {
  & + .contest-form__checkbox-label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 3px;
    width: 15px;
    height: 15px;
    background-color: @main-bg;
    border: 9px solid @main-bg;
    border-radius: 50%;
    box-shadow: 0 0 0 2px @border;
  }

  &:checked + .contest-form__checkbox-label::before {
    background-color: @accent;
  }
}

.contest-form__checkbox-label {
  text-align: left;
  font-size: 18px;
  line-height: 30px;
  color: @menu;
  position: relative;
  padding-left: 69px;
  margin-top: 20px;
  margin-bottom: 32px;

  &:hover::before {
    box-shadow: 0 0 0 2px @menu;
  }

  &:active::before {
    box-shadow: 0 0 0 2px @accent;
  }

  &--radio {
    margin-bottom: 45px;
    padding-right: 60px;
  }
}

.contest-form__describe {
  border: none;
}

.contest-form__textarea-input {
  width: 240px;
  font-family: inherit;
  border: 2px solid @border;
  color: @menu;
  font-size: 18px;
  line-height: 30px;
  padding: 14px 18px 10px;
  min-height: 173px;

  &::placeholder {
    color: @menu;
  }

  &:hover {
    border-color: @menu;
  }

  &:active,
  &:focus {
    box-shadow: none;
    outline: none;
    border-color: @accent;
  }
}

.contest-form__submit {
  font-size: 18px;
  color: @main-bg;
  text-transform: uppercase;
  font-weight: 700;
  width: 278px;
  height: 63px;
  padding-top: 3px;
  border: solid 2px transparent;
  border-radius: 2px;
  background-color: @form-button;
  margin-top: 33px;
  margin-bottom: 21px;

  &:hover,
  &:focus {
    outline: none;
    background-color: @form-button-2;
  }

  &:active {
    outline: none;
    color: fade(@main-bg, 30%);
  }

  &:disabled {
    background-color: @border;
  }
}

.contest-form__hint {
  line-height: 30px;
  color: @menu;
  text-transform: uppercase;

  &--star {
    color: @accent;
  }
}

@media (max-width: @mobile-only) {
  .contest-form__intro--please,
  .contest-form__legend--contacts {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .contest-form {
    display: flex;
    flex-direction: column;
  }

  .contest-form__intro {
    font-size: 18px;
    line-height: 30px;
    padding: 92px 85px 36px;
    width: 490px;

    &--please {
      padding: 0;
    }
  }

  .contest-form__personal {
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 22px;
  }

  .contest-form__personal-wrapper {
    flex-direction: row;
    align-items: baseline;
  }

  .contest-form__label {
    padding-left: 0;
    margin-bottom: 40px;

    &--phone,
    &--email {
      padding-left: 18px;
      margin-top: 13px;
      margin-bottom: 1px;
    }
  }

  .contest-form__legend {
    padding: 0 32px;
    position: absolute;
    left: 50%;
    top: -1px;
    transform: translate(-50%, -50%);
    width: auto;
    white-space: nowrap;

    background-color: @main-bg;
  }

  .contest-form__text-input {
    margin: 0;
    margin-left: 18px;
    margin-top: 30px;
    flex-grow: 0;
    background-color: transparent;
    padding-left: 20px;
    padding-bottom: 15px;

    &--phone,
    &--email {
      padding-left: 19px;
      width: 475px;
      margin-left: 0;
    }

    &--surname {
      width: 500px;
    }

    &--name {
      width: 542px;
    }

    &--patronymic {
      width: 502px;
    }
  }

  .contest-form__achievements {
    border: 2px solid @border;
    background-color: @main-bg;
    width: auto;
    margin-top: 3px;
    padding-top: 36px;
    padding-bottom: 21px;
  }

  .contest-form__wrapper {
    width: 620px;
    padding: 0 20px;
    background-color: @main-bg;
    margin-top: 62px;

    &--app-used {
      margin-top: 22px;
      order: 1;
    }

    &--achievements {
      order: 3;
    }

    &--contacts {
      order: 2;
    }

    &--describe {
      order: 4;
    }
  }

  .contest-form__checkbox {
    margin-right: auto;

    & + .contest-form__checkbox-label::before {
      left: 40px;
    }
  }

  .contest-form__contacts {
    border: 2px solid @border;
    background-color: @main-bg;
    width: auto;
    margin-top: 3px;
    padding: 15px 58px 8px;
  }

  .contest-form__contacts-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 20px;
  }

  .contest-form__phone-wrapper,
  .contest-form__email-wrapper {
    display: flex;
    flex-direction: column-reverse;

    &::after {
      content: "";
      position: absolute;
      height: 59px;
      width: 60px;
      left: 436px;
      background-color: @border;
      background-repeat: no-repeat;
      background-position: 21px 19px;
    }
  }

  .contest-form__phone-wrapper {
    &::after {
      top: 32px;
      background-image: url("../img/icon-phone.svg");
    }
  }

  .contest-form__email-wrapper {
    &::after {
      top: 163px;
      background-position: 22px 23px;
      background-image: url("../img/icon-mail.svg");
    }
  }

  .contest-form__app-used {
    border: 2px solid @border;
    background-color: @main-bg;
    width: auto;
    padding-top: 36px;
    padding-bottom: 14px;
  }

  .contest-form__radio {
    & + .contest-form__checkbox-label::before {
      left: 41px;
      top: -1px;
    }
  }

  .contest-form__checkbox-label {
    padding-left: 97px;
  }

  .contest-form__describe {
    display: flex;
    width: auto;
    border: 2px solid @border;
    margin-top: 3px;
  }

  .contest-form__textarea-input {
    width: 458px;
    margin: 40px auto 41px;
    min-height: 165px;
    padding-left: 18px;
  }

  .contest-form__submit-wrapper {
    order: 5;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 35px;
    padding-bottom: 30px;
  }

  .contest-form__submit {
    width: 300px;
  }

  .contest-form__hint {
    order: 6;
  }
}

@media (max-width: @mobile-and-tablet-only) {
  .contest-form__hint--fill {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .contest-form {
    flex-wrap: wrap;
    flex-direction: row;
    width: 960px;
    margin: 0 auto;
  }

  .contest-form__intro {
    width: 762px;
    padding-top: 93px;
    padding-bottom: 47px;

    &--please {
      padding: 0;
    }
  }

  .contest-form__personal {
    width: 435px;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .contest-form__label {
    &--phone,
    &--email {
      padding-left: 18px;
      margin-bottom: 0;
      margin-top: 13px;
    }
  }

  .contest-form__text-input {
    margin-top: 32px;
    margin-left: 19px;

    &--surname {
      width: 317px;
    }

    &--name {
      width: 357px;
    }

    &--patronymic {
      margin-top: 30px;
      width: 317px;
    }

    &--phone,
    &--email {
      width: 352px;
      margin-left: 0;
    }

    &--phone {
      margin-right: 70px;
    }
  }

  .contest-form__wrapper {
    width: 940px;
    padding: 0 10px;

    &--contacts {
      margin-top: 17px;
    }

    &--app-used {
      width: 443px;
      margin-top: 31px;
      margin-bottom: 45px;
      margin-left: 52px;
      margin-right: 0;
    }
  }

  .contest-form__achievement-wrapper {
    margin-right: 55px;

    &:last-child {
      margin-right: 0;
    }

    &--whole {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0 0  7px 48px;
    }
  }

  .contest-form__checkbox-label {
    padding-left: 60px;

    &--radio {
      padding-left: 123px;
      margin-bottom: 44px;
    }
  }

  .contest-form__contacts-wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 16px;
  }

  .contest-form__contacts {
    padding: 11px 58px 0;
  }

  .contest-form__phone-wrapper {
    &::after {
      left: 313px;
      top: 34px;
    }
  }

  .contest-form__email-wrapper {
    &::after {
      left: 758px;
      top: 34px;
    }
  }

  .contest-form__checkbox {
    & + .contest-form__checkbox-label::before {
      left: 2px;
    }
  }

  .contest-form__app-used {
    padding-top: 38px;
    padding-bottom: 16px;
    margin-left: 9px;
  }

  .contest-form__radio {
    & + .contest-form__checkbox-label::before {
      left: 66px;
    }
  }

  .contest-form__textarea-input {
    width: 778px;
    min-height: 100px;
    margin-top: 37px;
    margin-bottom: 34px;
  }

  .contest-form__submit-wrapper {
    margin-top: 32px;
    padding-bottom: 0;
  }

  .contest-form__submit {
    width: 300px;
    margin-bottom: 0;
  }

  .contest-form__hint {
    margin-bottom: 0;
  }
}
