.contest-form {
  background-color: @main-bg;
}

.contest-form__intro {
  line-height: 30px;
  color: @menu;
}

.contest-form__personal {
  border: none;
}

.contest-form__label {
  color: @accent;
  text-transform: uppercase;

  &--center {
    line-height: 18px;
    color: @accent;
    text-align: center;
    text-transform: uppercase;
  }
}

.contest-form__text-input {
  font-family: inherit;
}

.contest-form__achievements {
  border: none;
}

.contest-form__checkbox {

}

.contest-form__checkbox-label {

}

.contest-form__contacts {
  border: none;
}

.contest-form__app-used {
  border: none;
}

.contest-form__describe {
  border: none;
}

.contest-form__textarea-input {
  font-family: inherit;
}

.contest-form__submit {

}

.contest-form__hint {
  &--star {

  }
}
