.contest-form {
  background-color: @main-bg;
}

.contest-form__intro {
  line-height: 30px;
  padding-top: 45px;
  padding-bottom: 20px;
  color: @menu;
}

.contest-form__personal {
  border: none;
  display: flex;
  text-align: left;
  padding-bottom: 40px;
}

.contest-form__personal-wrapper {
  display: flex;
  flex-direction: column;
}

.contest-form__label {
  color: @accent;
  text-transform: uppercase;
  padding-left: 25px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.contest-form__legend {
  padding: 32px 20px 10px;
  line-height: 18px;
  color: @accent;
  text-align: center;
  text-transform: uppercase;
}

.contest-form__text-input {
  width: 256px;
  font-family: inherit;
  color: @menu;
  font-size: 18px;
  line-height: 30px;
  padding: 13px 0;
  padding-left: 20px;
  border: 2px solid @border;
  margin: 5px 0 20px;

  &:hover {
    border-color: @menu;
  }

  &:active {
    border-color: @accent;
  }
}

.contest-form__achievements {
  border: none;
  display: flex;
  direction: column;
  flex-wrap: wrap;
}

.contest-form__achievement-wrapper {
  display: flex;
  flex-direction: column;
}

.contest-form__wrapper {
  margin: 0 auto;
  background-color: @secondary-bg;

  &--describe,
  &--contacts {
    background-color: @main-bg;
  }
}

.contest-form__checkbox {
  & + .contest-form__checkbox-label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    background-color: @main-bg;
    box-shadow: 0 0 0 2px @border;
  }

  &:checked + .contest-form__checkbox-label::before {
    background-image: url("../img/icon-checked.svg");
    background-position: 6px 10px;
    background-repeat: no-repeat;
  }
}

.contest-form__contacts {
  border: none;
  text-align: left;
  padding-top: 41px;
  padding-bottom: 44px;
  display: flex;
}

.contest-form__app-used {
  display: flex;
  direction: column;
  flex-wrap: wrap;
  border: none;
}

.contest-form__radio {
  & + .contest-form__checkbox-label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background-color: @main-bg;
    border: 9px solid @main-bg;
    border-radius: 50%;
    box-shadow: 0 0 0 2px @border;
  }

  &:checked + .contest-form__checkbox-label::before {
    background-color: @accent;
  }
}

.contest-form__checkbox-label {
  text-align: left;
  font-size: 18px;
  line-height: 30px;
  color: @menu;
  position: relative;
  padding-left: 73px;
  margin-top: 20px;
  margin-bottom: 50px;

  &:hover::before {
    box-shadow: 0 0 0 2px @menu;
  }

  &:active::before {
    box-shadow: 0 0 0 2px @accent;
  }
}

.contest-form__describe {
  border: none;
}

.contest-form__textarea-input {
  width: 236px;
  font-family: inherit;
  border: 2px solid @border;
  color: @menu;
  font-size: 18px;
  line-height: 30px;
  padding: 12px 20px;
  min-height: 173px;

  &::placeholder {
    color: @menu;
  }

  &:hover {
    border-color: @menu;
  }

  &:active,
  &:focus {
    box-shadow: none;
    outline: none;
    border-color: @accent;
  }
}

.contest-form__submit {
  font-size: 18px;
  color: @main-bg;
  text-transform: uppercase;
  font-weight: bold;
  width: 276px;
  height: 59px;
  border: solid 2px transparent;
  border-radius: 2px;
  background-color: @form-button;
  margin-top: 30px;
  margin-bottom: 40px;

  &:hover,
  &:focus {
    outline: none;
    background-color: @form-button-2;
  }

  &:active {
    outline: none;
    color: fade(@main-bg, 30%);
  }

  &:disabled {
    background-color: @border;
  }
}

.contest-form__hint {
  line-height: 30px;
  color: @menu;
  text-transform: uppercase;

  &--star {
    color: @accent;
  }
}

@media (max-width: 659px) {
  .contest-form__intro--please,
  .contest-form__legend--contacts {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .contest-form {
    display: flex;
    flex-direction: column;
  }

  .contest-form__intro {
    font-size: 18px;
    line-height: 30px;
    padding: 90px 85px 0;
    width: 490px;

    &--please {
      padding-top: 0;
      padding-bottom: 50px;
    }
  }

  .contest-form__personal {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contest-form__personal-wrapper {
    flex-direction: row;
    align-items: baseline;
  }

  .contest-form__label {
    padding-left: 0;

    &--phone,
    &--email {
      padding-left: 20px;
    }
  }

  .contest-form__legend {
    padding: 0 38px;
  }

  .contest-form__text-input {
    margin: 0;
    margin-left: 22px;
    margin-top: 30px;
    width: auto;
    flex-grow: 1;
    background-color: transparent;

    &--phone,
    &--email {
      margin-left: 0;
    }
  }

  .contest-form__achievements {
    border: 2px solid @border;
    background-color: @main-bg;
    width: auto;
  }

  .contest-form__wrapper {
    width: 620px;
    padding: 0 20px;
    background-color: @main-bg;
    margin-top: 62px;

    &--app-used {
      margin-top: 22px;
      order: 1;
    }

    &--achievements {
      order: 3;
    }

    &--contacts {
      order: 2;
    }

    &--describe {
      order: 4;
    }
  }

  .contest-form__checkbox {
    margin-right: auto;

    & + .contest-form__checkbox-label::before {
      left: 40px;
    }
  }

  .contest-form__contacts {
    border: 2px solid @border;
    background-color: @main-bg;
    width: auto;
    padding: 0 60px;
  }

  .contest-form__contacts-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 20px;
  }

  .contest-form__phone-wrapper,
  .contest-form__email-wrapper {
    display: flex;
    flex-direction: column-reverse;

    &::after {
      content: "";
      position: absolute;
      height: 60px;
      width: 60px;
      left: 436px;
      background-color: @border;
      background-repeat: no-repeat;
      background-position: 20px 20px;
    }
  }

  .contest-form__phone-wrapper {
    &::after {
      top: 30px;
      background-image: url("../img/icon-phone.svg");
    }
  }

  .contest-form__email-wrapper {
    &::after {
      top: 169px;
      background-position: 20px 23px;
      background-image: url("../img/icon-mail.svg");
    }
  }

  .contest-form__app-used {
    border: 2px solid @border;
    background-color: @main-bg;
    width: auto;
  }

  .contest-form__radio {
    & + .contest-form__checkbox-label::before {
      left: 40px;
    }
  }

  .contest-form__checkbox-label {
    padding-left: 103px;
  }

  .contest-form__describe {
    display: flex;
    width: auto;
    border: 2px solid @border;
  }

  .contest-form__textarea-input {
    width: 496px;
    margin: 40px auto 45px;
  }

  .contest-form__submit-wrapper {
    order: 5;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 38px;
  }

  .contest-form__hint {
    order: 6;
  }
}

@media (max-width: 959px) {
  .contest-form__hint--fill {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .contest-form {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .contest-form__personal {
    width: 411px;
  }

  .contest-form__text-input {
    &--phone,
    &--email {
      width: 371px;
    }
  }

  .contest-form__wrapper {
    width: 940px;
    padding: 0 10px;

    &--app-used {
      width: 431px;
    }
  }

  .contest-form__achievement-wrapper {
    &--whole {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .contest-form__contacts-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .contest-form__phone-wrapper {
    &::after {
      left: 334px;
      top: 30px;
    }
  }

  .contest-form__email-wrapper {
    &::after {
      left: 755px;
      top: 30px;
    }
  }

  .contest-form__textarea-input {
    width: 776px;
    min-height: 100px;
  }

  .contest-form__submit {
    width: 280px;
  }
}
