.download {
  padding-top: 0;
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat;
  background-size: 258px 286px;
  background-position: 0 108px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png");
  }
}

.download__slogan {
  box-sizing: border-box;
  width: 280px;
  padding-top: 21px;
  color: @main-bg;
  font-size: 24px;
  line-height: 29px;
  font-weight: lighter;
  margin: 0;
  margin-bottom: 342px;
}

.download__button {
  display: inline-block;
  width: 275px;
  border: solid 3px @main-bg;
  border-radius: 40px;
  padding: 15px 0 16px;
  font-family: inherit;
  font-weight: bold;
  line-height: 18px;
  font-size: 18px;
  color: @main-bg;
  background-color: transparent;

  &:hover {
    color: @accent;
    background-color: @main-bg;
  }

  &:active {
    color: fade(@accent, 30%);
    background-color: @main-bg;
  }
}

.download__list {
  padding: 0;
  padding-top: 82px;
  list-style: none;
  position: relative;
  margin-bottom: 0;
}

.download__item {
  &--app-store::before {
    position: absolute;
    content: "";
    bottom: 7px;
    left: 39px;
    width: 46px;
    height: 57px;
    background-image: url("../img/logo-apple.svg");
  }

  &--play-market::before {
    position: absolute;
    content: "";
    bottom: 9px;
    left: 120px;
    width: 42px;
    height: 47px;
    background-image: url("../img/logo-android.svg");
  }

  &--microsoft-store::before {
    position: absolute;
    content: "";
    bottom: 10px;
    left: 200px;
    width: 44px;
    height: 42px;
    background-image: url("../img/logo-microsoft.svg");
  }
}

.download__info {
  padding-bottom: 30px;
  color: @main-bg;
  font-weight: lighter;
}

@media (min-width: @tablet-width) {
  .download {
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 92px;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-size: 700px 545px;
    background-position: -20px 75px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
    }
  }

  .download__slogan {
    font-size: 40px;
    line-height: 48px;
    width: 640px;
    padding: 63px 378px 31px 38px;
    margin-bottom: 0;
  }

  .download__info {
    font-size: 18px;
    padding: 0;
    margin-left: 2px;
    margin-right: 320px;
  }

  .download__button {
    width: 294px;
    margin-right: 320px;
  }

  .download__list {
    padding-top: 106px;
  }

  .download__item {
    &--app-store::before {
      bottom: 17px;
      left: 47px;
    }

    &--play-market::before {
      bottom: 21px;
      left: 130px;
    }

    &--microsoft-store::before {
      bottom: 20px;
      left: 207px;
    }
  }
}


@media (min-width: @desktop-width) {
  .download {
    padding-top: 52px;
    padding-left: 0;
    padding-bottom: 103px;
    background: url("../img/iphone-hand-desktop@1x.png") no-repeat;
    background-size: 1050px 645px;
    background-position: 20px 101px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
    }
  }

  .download__slogan {
    width: 920px;
    font-size: 50px;
    line-height: 60px;
    padding-top: 59px;
    padding-left: 34px;
    padding-right: 640px;
    padding-bottom: 52px;
  }

  .download__list {
    margin-top: 37px;
    margin-bottom: 37px;
  }

  .download__button {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 21px;
    margin-right: 620px;
    margin-left: -14px;
  }

  .download__item {
    &--app-store::before {
      bottom: 18px;
      left: 53px;
    }

    &--play-market::before {
      left: 134px;
    }

    &--microsoft-store::before {
      bottom: 21px;
      left: 212px;
    }
  }

  .download__info {
    margin-right: 625px;
  }
}
