.gallery {
  overflow: hidden;
}

.gallery__intro {
  padding: 45px 40px 49px;
  color: @menu;
  line-height: 30px;
  width: 240px;
}

.gallery__best-img {
  line-height: 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 620px;

  &::before {
    content: "Панорама дня";
    position: absolute;
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    padding: 6px 0 6px;
    top: 0;
    right: 170px;
    width: 140px;
    background-color: @accent;
    color: @main-bg;
  }
}

.gallery__best-post {
  width: 280px;
  margin: 0 auto 20px;
}

.gallery__list {
  list-style: none;
}

.gallery__item {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 21px;
}

@media (min-width: @tablet-width) {
  .gallery__intro {
    width: 440px;
    font-size: 18px;
    padding: 92px 0 76px;
  }

  .gallery__best-img {
    width: 700px;

    &::before {
      top: 57px;
      right: 40px;
    }
  }

  .gallery__best-post {
    width: 620px;
    min-height: 62px;
  }

  .gallery__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .gallery__item {
    width: 300px;
    margin: 0;
    margin-bottom: 20px;
    min-height: 305px;
  }
}

@media (min-width: @desktop-width) {
  .gallery__intro {
    padding: 91px 0 87px;
    width: 568px;
  }

  .gallery__best-img {
    width: 1200px;

    &::before {
      top: 54px;
      right: 130px;
    }
  }

  .gallery__best-post {
    width: 940px;
    min-height: 62px;
    margin-bottom: 50px;
  }

  .gallery__list {
    justify-content: space-between;
  }

  .gallery__item {
    width: 300px;
    margin: 0;
    margin-bottom: 54px;
  }
}
