.main-nav {
  position: relative;
  background-color: @menu;
}

.main-nav__wrapper {
  padding: 69px 0 0;
  box-shadow: 0 1px 0 0 @main-font;
}

.main-nav__logo {
  display: block;
  position: absolute;
  top: 22px;
  left: 20px;

  &:hover .main-nav__logo-image {
    fill: @accent;
  }

  &:active .main-nav__logo-image {
    opacity: 0.3;
    fill: @main-bg;
  }
}

.main-nav__toggle {
  font-size: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  padding: 0;
  right: 49px;
  top: 32px;

  &::after,
  &::before {
    position: absolute;
    content: "";
    width: 32px;
    height: 4px;
    background-color: @main-bg;
  }

  &::after {
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }

  &:hover::after,
  &:hover::before {
    background-color: @accent;
  }

  &:active::after,
  &:active::before {
    opacity: 0.3;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  padding: 16px 0;
  box-shadow: 0 1px 0 0 @main-font, inset 0 1px 0 0 fade(@main-bg, 15%);
}

.main-nav__link {
  display: block;
  color: @main-bg;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;

  &:not(.main-nav__link--current):hover {
    color: @accent;
  }

  &:not(.main-nav__link--current):active {
    color: fade(@accent, 30%);
  }
}

.main-nav__download {
  margin-top: 1px;
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat, url("../img/bg-back-mobile@1x.jpg") repeat-x;
  background-position: 0 109px, 0 -67px;
  background-color: @download;
}

.main-nav__slogan {
  box-sizing: border-box;
  width: 320px;
  padding: 20px 45px 33px;
  color: @main-bg;
  font-size: 24px;
  line-height: 29px;
  font-weight: lighter;
  margin: 0 auto;
  margin-bottom: 281px;
}

@media (min-width: @tablet-width) {
  .main-nav__wrapper {
    padding: 109px 0 0;
  }

  .main-nav__download {
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-position: -20px 75px, -272px -109px;
    position: relative;
  }

  .main-nav__slogan {
    font-size: 40px;
    line-height: 48px;
    width: 660px;
    padding: 94px 398px 0 75px;
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: 100%;
    position: absolute;
    background-color: fade(@main-font, 30%);
  }

  .main-nav--index {
    left: 0;
    margin-left: 0;
    min-height: 853px;
    position: static;
    background: url("../img/iphone-hand-desktop@1x.png") no-repeat, url("../img/bg-back-desktop@1x.jpg");
    background-position: 146px 209px, -680px 0;
  }

  .main-nav__index-wrapper {
    background-color: fade(@main-font, 30%);
  }

  .main-nav__wrapper {
    width: 700px;
    padding: 0 130px;
    box-shadow: none;
    margin: 0 auto;
    min-height: 110px;
    display: flex;
    flex-direction: row;
  }

  .main-nav__logo {
    position: static;
    margin-right: 173px;
    margin-top: 38px;
  }

  .main-nav__list {
    flex-grow: 2;
    display: flex;
    justify-content: space-between;
  }

  .main-nav__item {
    padding: 43px 0 43px;
    box-shadow: none;
  }

  .main-nav__link {
    line-height: 18px;
    font-weight: normal;
    text-transform: capitalize;

    &:not(.main-nav__link--current):active {
      color: fade(@main-bg, 30%);
    }

    &--current {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -12px;
        left: 0;
        height: 2px;
        background-color: @main-bg;
      }
    }
  }

  .main-nav__download {
    background: transparent;
  }

  .main-nav__slogan {
    width: 960px;
    font-size: 50px;
    line-height: 60px;
    padding-top: 108px;
    padding-left: 20px;
    padding-right: 660px;
  }
}
