.main-nav {
  position: relative;
  background-color: @menu;
}

.main-nav__wrapper {
  padding: 69px 0 0;
  box-shadow: 0 1px 0 0 @main-font;
}

.main-nav__logo {
  display: block;
  position: absolute;
  top: 24px;
  left: 20px;

  &:hover .main-nav__logo-image {
    fill: @accent;
  }

  &:active .main-nav__logo-image {
    opacity: 0.3;
    fill: @main-bg;
  }
}

.main-nav__logo-image {
  fill: @main-bg;

  &--tablet,
  &--desktop {
    display: none;
  }
}

.main-nav__toggle {
  font-size: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  padding: 0;
  right: 49px;
  top: 32px;

  &::after,
  &::before {
    position: absolute;
    content: "";
    width: 32px;
    height: 4px;
    background-color: @main-bg;
  }

  &::after {
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }

  &:hover::after,
  &:hover::before {
    background-color: @accent;
  }

  &:active::after,
  &:active::before {
    opacity: 0.3;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  padding: 16px 0;
  box-shadow: 0 1px 0 0 @main-font, inset 0 1px 0 0 fade(@main-bg, 15%);
}

.main-nav__link {
  display: block;
  color: @main-bg;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;

  &:not(.main-nav__link--current):hover {
    color: @accent;
  }

  &:not(.main-nav__link--current):active {
    color: fade(@accent, 30%);
  }
}

.main-nav__download {
  margin-top: 1px;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
  background-size: 320px 462px;
  background-position: center -67px;
  background-color: @download;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

@media (min-width: @tablet-width) {
  .main-nav__wrapper {
    padding: 109px 0 0;
  }

  .main-nav__logo {
    top: 27px;
  }

  .main-nav__logo-image {
    &--mobile,
    &--desktop {
      display: none;
    }

    &--tablet {
      display: inline-block;
    }
  }

  .main-nav__download {
    position: relative;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: 1200px 729px;
    background-position: -272px -109px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: 100%;
    position: absolute;
    background-color: fade(@main-font, 30%);
  }

  .main-nav--index {
    left: 0;
    margin-left: 0;
    min-height: 853px;
    position: static;
    background: url("../img/bg-back-desktop@1x.jpg");
    background-size: 2560px 853px;
    background-position: -680px 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .main-nav__index-wrapper {
    background-color: fade(@main-font, 30%);
  }

  .main-nav__wrapper {
    width: 940px;
    padding: 0 10px;
    box-shadow: none;
    margin: 0 auto;
    min-height: 110px;
    display: flex;
    flex-direction: row;
  }

  .main-nav__logo {
    position: static;
    margin-right: 171px;
    margin-top: 31px;
  }

  .main-nav__logo-image {
    &--mobile,
    &--tablet {
      display: none;
    }

    &--desktop {
      display: inline-block;
    }
  }

  .main-nav__list {
    flex-grow: 2;
    display: flex;
    justify-content: space-between;
    padding-right: 0;
  }

  .main-nav__item {
    padding: 48px 0 43px;
    box-shadow: none;
  }

  .main-nav__link {
    line-height: 18px;
    font-weight: normal;
    text-transform: capitalize;

    &:not(.main-nav__link--current):active {
      color: fade(@main-bg, 30%);
    }

    &--current {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -12px;
        left: 0;
        height: 2px;
        background-color: @main-bg;
      }
    }
  }

  .main-nav__download {
    background: transparent;
  }
}
