.main-nav {
  position: relative;
  background-color: @menu;
}

.main-nav__wrapper {
  padding: 53px 0 16px;
  box-shadow: 0 1px 0 0 @main-font;
}

.main-nav__logo {
  display: block;
  position: absolute;
  top: 22px;
  left: 20px;

  &:hover .main-nav__logo-image {
    fill: @accent;
  }

  &:active .main-nav__logo-image {
    opacity: 0.3;
    fill: @main-bg;
  }
}

.main-nav__toggle {
  font-size: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  padding: 0;
  right: 49px;
  top: 32px;

  &::after,
  &::before {
    position: absolute;
    content: "";
    width: 32px;
    height: 4px;
    background-color: @main-bg;
  }

  &::after {
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }

  &:hover::after,
  &:hover::before {
    background-color: @accent;
  }

  &:active::after,
  &:active::before {
    opacity: 0.3;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  padding: 15px 0 16px;
  box-shadow: 0 1px 0 0 @main-font, inset 0 1px 0 0 fade(@main-bg, 15%);
}

.main-nav__link {
  display: block;
  color: @main-bg;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;

  &:not(.main-nav__link--current):hover {
    color: @accent;
  }

  &:not(.main-nav__link--current):active {
    color: fade(@accent, 30%);
  }
}
