.page-footer {
  padding-top: 40px;
  padding-bottom: 37px;
}

.page-footer__logo {
  &:hover .page-footer__logo-image {
    fill: @accent;
  }

  &:active .page-footer__logo-image {
    fill: @menu;
    opacity: 0.3;
  }
}

.page-footer__logo-image {
  fill: @menu;

  &--desktop {
    display: none;
  }
}

.page-footer__social {
  margin-top: 30px;
}

.page-footer__developer {
  margin-top: 20px;
  line-height: 18px;
  color: @menu;
}

.page-footer__developer-link {
  &:hover .page-footer__developer-icon {
    fill: @menu;
  }

  &:active .page-footer__developer-icon {
    opacity: 0.3;
  }
}

.page-footer__developer-icon {
  height: 40px;
  width: 40px;
  position: relative;
  top: 18px;
  left: 7px;
  fill: @accent;
}

@media (max-width: @mobile-only) {
  .page-footer--index {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    padding-top: 27px;
    padding-bottom: 38px;
    display: flex;
    align-items: center;
  }

  .page-footer__social {
    margin: 10px 81px 0 70px;
  }

  .page-footer__developer {
    margin: 0;
    margin-bottom: 0;
    margin-top: 13px;
    position: relative;
  }

  .page-footer__developer-icon {
    top: -7px;
    left: 98px;
    position: absolute;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding-top: 62px;
    padding-bottom: 71px;
  }

  .page-footer__logo-image {
    &--desktop {
      display: inline-block;
    }

    &--mobile {
      display: none;
    }
  }

  .page-footer__social {
    margin: 0;
    margin-top: 12px;
    margin-left: 227px;
    margin-right: 220px;
  }

  .page-footer__developer {
    font-size: 18px;
    margin-bottom: 6px;
  }

  .page-footer__developer-icon {
    top: -5px;
    left: 122px;
  }
}
