.page-footer {

}

.page-footer__logo {

}

.page-footer__social {

}

.page-footer__developer {

}

.page-footer__developer-link {
  &:hover .page-footer__developer-icon {
    fill: @menu;
  }

  &:active .page-footer__developer-icon {
    opacity: 0.3;
  }
}

.page-footer__developer-icon {
  height: 34px;
  width: 27px;
  position: relative;
  top: 12px;
}
