.page-header__wrapper {
  background: url("../img/bg-back-mobile@1x.jpg");
  background-position: 0 -68px;
}

.page-header__title {
  box-sizing: border-box;
  width: 320px;
  font-weight: lighter;
  font-size: 24px;
  line-height: 29px;
  padding: 29px 46px 83px;
  margin: 0 auto;
  color: @main-bg;

  &--form {
    padding-bottom: 54px;
  }
}

@media (min-width: @tablet-width) {
  .page-header__wrapper {
    background: url("../img/bg-back-tablet@1x.jpg");
    background-position: -270px -110px;
  }

  .page-header__title {
    width: 660px;
    font-size: 50px;
    line-height: 60px;
    min-height: 210px;
    padding: 70px 46px 140px;

    &--form {
      padding-bottom: 79px;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-header__wrapper {
    background: url("../img/bg-back-desktop@1x.jpg");
    background-position: -683px 0;
  }

  .page-header__title {
    width: 960px;
    padding: 170px 160px 100px;

    &--form {
      padding: 170px 60px 100px;
    }
  }
}
