.post {
  text-align: left;
  color: @menu;
  background-color: @secondary-bg;
}

.post__description {
  padding-left: 17px;
  padding-bottom: 18px;

  &--best {
    padding-top: 6px;
    padding-bottom: 20px;
  }
}

.post__user {
  margin: 0;
}

.post__name {
  display: inline-block;
  padding-top: 11px;
  font-weight: 700;
  margin: 0;

  &--best {
    padding-top: 12px;
  }
}

.post__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.post__commentary {
  padding-right: 10px;
  margin: 0;
  margin-top: -1px;
  min-height: 28px;

  &--best {
    margin-top: -2px;
  }
}

.post__like-wrapper {
  margin-top: 10px;
  display: flex;

  &--best {
    margin-top: 11px;
  }
}

.post__like-button {
  margin-top: 5px;
  display: block;
  padding: 0;
  width: 12px;
  height: 12px;
  border: 0;
  margin-left: 1px;
  background: url("../img/icon-heart.svg") no-repeat transparent;
  background-size: contain;
  cursor: pointer;

  &--best {
    margin-top: 6px;
  }
}

.post__like-number {
  padding-left: 19px;
  text-transform: uppercase;
  font-size: 12px;
  color: @accent;
}

@media (min-width: @tablet-width) {
  .post {
    &--best {
      margin-bottom: 50px;
    }
  }

  .post__description {
    padding-left: 27px;
    padding-right: 20px;
    padding-top: 17px;
    padding-bottom: 23px;
    min-height: 108px;
    display: flex;
    flex-direction: column;

    &--best {
      padding-top: 24px;
      padding-bottom: 24px;
      min-height: 60px;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }

  .post__name {
    padding-top: 0;
  }

  .post__time {
    margin-left: 0;
  }

  .post__commentary {
    flex-grow: 0;
    min-height: 58px;

    &--best {
      order: 3;
      padding-right: 29px;
      min-height: 50px;
    }
  }

  .post__like-wrapper {
    display: flex;
    margin-top: auto;

    &--best {
      margin-top: 0;
      margin-left: 306px;
      margin-right: 0;
      order: 2;
      width: 120px;
    }
  }

  .post__like-button {
    order: 10;
    padding: 0;
    margin-left: auto;
    margin-right: 12px;

    &--best {
      margin-left: 17px;
      margin-right: 0;
    }
  }

  .post__like-number {
    padding: 0;
    padding-left: 0;

    &--best {
      white-space: nowrap;
      text-align: right;
      padding: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .post__description {
    padding-bottom: 22px;

    &--best {
      padding-top: 24px;
      min-height: 0;
      padding-bottom: 0;
    }
  }

  .post__commentary {
    min-height: 62px;

    &--best {
      padding-right: 0;
      min-height: 48px;
    }
  }

  .post__like-wrapper {
    &--best {
      margin-top: 2px;
      margin-left: 622px;
    }
  }

  .post__like-button {
    &--best {
      margin-top: 4px;
    }
  }
}
