.post {
  text-align: left;
  color: @menu;
  background-color: @secondary-bg;
  padding-bottom: 20px;
}

.post__user {
  display: inline-block;
  padding-top: 12px;
  padding-left: 17px;
  font-weight: bold;
  margin: 0;

  &--best {
    padding-top: 17px;
  }
}

.post__time {
  font-size: 12px;
  font-weight: lighter;
  text-transform: uppercase;
}

.post__description {
  padding-left: 17px;
  padding-right: 10px;
  margin: 0;
  margin-top: -1px;
}

.post__like-button {
  margin-left: 17px;
  margin-top: 25px;
  border: 0;
  position: relative;
  padding: 0;

  &::before {
    content: "";
    top: -10px;
    left: 0;
    height: 12px;
    width: 13px;
    position: absolute;
    background: url("../img/icon-heart.svg") no-repeat;
  }
}

.post__like-number {
  padding-left: 28px;
  text-transform: uppercase;
  font-size: 12px;
  color: @accent;
}

@media (min-width: @tablet-width) {
  .post {
    position: relative;
    padding: 0 0 30px;
  }

  .post__user {
    padding-top: 17px;
    padding-left: 28px;

    &--best {
      margin-top: 25px;
    }
  }

  .post__time {
    margin-left: 0;

    &--best {
      margin-top: 25px;
    }
  }

  .post__description {
    padding-left: 28px;

    &--best {
      order: 3;
      padding-right: 29px;
    }
  }

  .post__like-wrapper {
    position: absolute;
    display: flex;
    bottom: 21px;
    width: 250px;

    &--best {
      right: 45px;
      bottom: 0;
      top: 43px;
      width: 100px;
    }
  }

  .post__like-button {
    order: 10;
    padding: 0;
    margin-left: auto;
    margin-right: 0;

    &::before {
      top: -19px;
      left: 6px;
    }

    &--best {
      margin: 0;

      &::before {
        top: 5px;
        left: 22px;
      }
    }
  }

  .post__like-number {
    padding: 0;
    padding-left: 28px;

    &--best {
      padding: 0;
    }
  }
}
