.post {
  text-align: left;
  color: @menu;
  background-color: @secondary-bg;
}

.post__description {
  padding-left: 17px;
  padding-bottom: 20px;
}

.post__user {
  margin: 0;
}

.post__name {
  display: inline-block;
  padding-top: 12px;
  font-weight: bold;
  margin: 0;

  &--best {
    padding-top: 17px;
  }
}

.post__time {
  font-size: 12px;
  font-weight: lighter;
  text-transform: uppercase;
}

.post__commentary {
  padding-right: 10px;
  margin: 0;
  margin-top: -1px;
}

.post__like-button {
  margin-top: 25px;
  border: 0;
  position: relative;
  padding: 0;

  &::before {
    content: "";
    top: -10px;
    left: 1px;
    height: 12px;
    width: 13px;
    position: absolute;
    background: url("../img/icon-heart.svg") no-repeat;
  }
}

.post__like-number {
  padding-left: 29px;
  text-transform: uppercase;
  font-size: 12px;
  color: @accent;
}

@media (min-width: @tablet-width) {
  .post {
    &--best {
      margin-bottom: 50px;
    }
  }

  .post__description {
    padding-left: 27px;
    padding-right: 20px;
    padding-top: 17px;
    padding-bottom: 21px;
    min-height: 110px;
    display: flex;
    flex-direction: column;

    &--best {
      padding-top: 24px;
      padding-bottom: 24px;
      min-height: 60px;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }

  .post__name {
    padding-top: 0;
  }

  .post__time {
    margin-left: 0;
  }

  .post__commentary {
    flex-grow: 0;

    &--best {
      order: 3;
      padding-right: 29px;
    }
  }

  .post__like-wrapper {
    display: flex;
    margin-top: auto;

    &--best {
      margin-top: 1px;
      margin-left: auto;
      margin-right: 21px;
      order: 2;
      width: 100px;
    }
  }

  .post__like-button {
    order: 10;
    padding: 0;
    margin-left: auto;
    margin-right: 0;

    &::before {
      top: -20px;
      left: -25px;
    }

    &--best {
      margin: 0;

      &::before {
        top: 5px;
        left: 17px;
      }
    }
  }

  .post__like-number {
    padding: 0;
    padding-left: 0;

    &--best {
      padding: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .post__description {
    &--best {
      min-height: 0;
    }
  }

  .post__like-wrapper {
    &--best {
      margin-right: 32px;
    }
  }

  .post__like-button {
    &--best {
      &::before {
        left: 21px;
      }
    }
  }
}
