.purchase {
  background: url("../img/bg-triangle-white.svg") no-repeat;
  background-color: @secondary-bg;
  padding-top: 127px;
  padding-bottom: 48px;
  overflow: hidden;
}

.purchase__table {
  width: 832px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-collapse: collapse;
  text-transform: uppercase;
  line-height: 30px;
  margin-bottom: 50px;
}

.purchase__title {
  border-right: 2px solid #e5e5e5;
  font-size: 18px;
  color: #ffffff;
  background-color: #283645;

  &--best {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 74px;
      height: 74px;
      top: 0;
      left: -2px;
      background: url("../img/bg-hit.svg") no-repeat;
    }

    &::after {
      font-weight: normal;
      position: absolute;
      content: "ХИТ";
      line-height: 21px;
      font-size: 16px;
      top: 15px;
      left: 10px;
      transform: rotate(-45deg);
    }
  }
}

.purchase__title:first-child {
  display: none;
  border-right: 0;
  border-bottom: 2px solid #e5e5e5;
  background-color: transparent;
}

.purchase__title:last-child {
  border-right-color: #283645;
}

.purchase__name,
.purchase__price {
  display: block;
}

.purchase__name {
  padding-top: 18px;
}

.purchase__price {
  font-size: 24px;
  padding-bottom: 18px;
  font-weight: lighter;
}

.purchase__cell {
  border-right: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  background-color: #ffffff;
  padding: 10px 20px;
}

.purchase__cell:first-child {
  display: none;
  border-left: 2px solid #e5e5e5;
}

.purchase__feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.purchase__feature::before {
  content: attr(data-feature-name);
}

.purchase__feature-included {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 31px;
  height: 21px;
  background-image: url("../img/icon-included.svg");

  &--not {
    width: 38px;
    height: 30px;
    background-image: url("../img/icon-included-not.svg");
  }
}

@media (min-width: @tablet-width) {
  .purchase__table {
    width: 640px;
    margin: 0 auto;
    position: static;
    transform: none;
  }

  .purchase__title {
    &--best {

      &::before {
        left: 0;
      }

      &::after {
        left: 12px;
      }
    }
  }

  .purchase__title:first-child {
    display: table-cell;
  }

  .purchase__name {
    font-size: 16px;
  }

  .purchase__price {
    font-size: 18px;
  }

  .purchase__cell {
    width: 25%;
    text-transform: none;
    padding: 4px 20px;
    text-align: left;
  }

  .purchase__cell:first-child {
    display: table-cell;
  }

  .purchase__feature {
    justify-content: center;
  }

  .purchase__feature::before {
    content: "";
  }
}
@media (min-width: @desktop-width) {
  .purchase__table {
    width: 940px;
    margin: 0 auto;
    position: static;
    transform: none;
  }

  .purchase__name {
    font-size: 18px;
  }

  .purchase__price {
    font-size: 24px;
  }

  .purchase__cell {
    font-size: 18px;
    padding: 12px 20px;
  }
}
