.purchase {
  background: url("../img/bg-triangle-white.svg") no-repeat;
  background-color: @secondary-bg;
  padding-top: 127px;
  padding-bottom: 48px;
  overflow: hidden;
}

.purchase__table {
  width: 832px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-collapse: collapse;
  text-transform: uppercase;
  line-height: 30px;
  margin-bottom: 25px;
}

.purchase__row {
  background-color: @main-bg;
}

.purchase__title {
  background-color: @menu;
  color: @main-bg;
  border-left: 2px solid @border;
  border-right: 2px solid @border;
  border-bottom: 2px solid @border;

  &--best {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 74px;
      height: 74px;
      top: 0;
      left: -2px;
      background: url("../../img/bg-hit.svg") no-repeat;
    }

    &::after {
      font-weight: normal;
      position: absolute;
      content: "ХИТ";
      line-height: 21px;
      font-size: 10px;
      top: 15px;
      left: 10px;
      transform: rotate(-45deg);
    }
  }
}

.purchase__name {
  display: block;
  padding-top: 18px;
  font-weight: bold;
  font-size: 18px;
}

.purchase__price {
  display: block;
  padding-bottom: 18px;
  font-size: 24px;
}

.purchase__content {
  text-align: left;
  padding-left: 22px;
  color: @menu;
  border-right: none;
  padding-top: 18px;
  padding-bottom: 18px;
  border-left: 2px solid @border;
  border-bottom: 2px solid @border;
}

.purchase__included {
  text-align: left;
  font-size: 0;
  border-left: none;
  padding-top: 18px;
  padding-bottom: 18px;
  border-right: 2px solid @border;
  border-bottom: 2px solid @border;
  width: 40px;
  background: url("../../img/icon-included.svg") no-repeat;
  background-position: 5px 24px;

  &--not-included {
    background: url("../../img/icon-included-not.svg") no-repeat;
    background-position: 0 20px;
  }
}
