.research {
  position: relative;
  z-index: 2;
  text-align: left;
  background-color: @main-bg;
}

.research__wrapper {
  display: flex;
  flex-basis: 238px;
  justify-content: space-between;
}

.research__img {
  margin-left: 0;
  margin-top: 59px;
  margin-bottom: 21px;
  width: 238px;
  height: 276px;
  background-image: url("../img/icon-timer.svg");
  background-size: cover;
  position: relative;
}

.research__img-text {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  justify-content: center;
  bottom: 19px;
  left: 17px;
  width: 202px;
  height: 202px;
  padding-top: 7px;
  line-height: 150px;
  font-size: 96px;
  font-weight: bold;
  color: @accent;
  border: 13px solid @accent;
  border-radius: 50%;
}

.research__text-wrapper {
  width: 295px;
  margin-left: auto;
  margin-right: 19px;
  margin-top: 70px;
}

.research__title {
  font-size: 30px;
  line-height: 36px;
  color: @main-font;
  padding-right: 127px;
  margin-bottom: 10px;
}

.research__info {
  margin-top: 0;
  color: @menu;
  margin-bottom: 11px;
}

.research__link {
  color: @accent;
  text-decoration: underline;
}

@media (max-width: @mobile-only) {
  .research {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .research {
    background-color: @secondary-bg;
  }

  .research__img {
    margin-top: 25px;
    flex-basis: 298px;
    height: 345px;
    margin-bottom: 67px;
  }

  .research__img-text {
    width: 253px;
    height: 253px;
    font-size: 120px;
    line-height: 187px;
    border-width: 16px;
    left: 23px;
    bottom: 23px;
    padding-top: 8px;
  }

  .research__text-wrapper {
    width: 525px;
    margin-top: 93px;
    line-height: 30px;
    margin-right: 48px;
  }

  .research__title {
    line-height: 30px;
    margin-bottom: 24px;
  }

  .research__br {
    display: none;
  }

  .research__info {
    font-size: 18px;
    margin-bottom: 31px;
  }

  .research__link {
    font-size: 18px;
  }
}
