.reviews {
  padding-top: 46px;
  padding-bottom: 11px;
  background-color: @main-bg;
  position: relative;
  z-index: 2;
}

.reviews__list {
  margin: 0;
  padding: 0 26px;
  list-style: none;
}

.reviews__item {
  line-height: 30px;
}

.reviews__name {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.reviews__text {
  color: @menu;
}

@media (min-width: @tablet-width) {
  .reviews__text {
    font-size: 18px;
  }
}

/*@media (min-width: @desktop-width) {

}*/
