.slider__dot-section {
  margin-top: 21px;
}

.slider__dot {
  margin: 0 7px;
  width: 1px;
  height: 1px;
  line-height: 0;
  padding: 0;
  border: 3px solid fade(@menu, 30%);
  border-radius: 3px;

  &:not(.slider__dot--current):hover {
    border-color: fade(@menu, 60%);
  }

  &:not(.slider__dot--current):active {
    border-color: fade(@menu, 10%);
  }

  &--current {
    border-color: @main-bg;
    box-shadow: 0 0 0 3px @menu;
  }
}

.slider__arrow-section {
  display: none;
}

@media (min-width: @tablet-width) {
  .slider__dot-section {
    margin-top: 9px;

    &--hidden {
      display: none;
    }
  }

  .slider__dot {
    margin: 0 8px;
  }
}

@media (min-width: @desktop-width) {
  .slider__dot-section {
    display: none;
  }

  .slider__arrow-section {
    display: block;
    position: relative;
  }

  .slider__arrow {
    position: absolute;
    top: -180px;
    left: 0;
    border: none;
    padding: 0;
    background-color: transparent;
    opacity: 0.3;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }

    &--left::before,
    &--right::before {
      content: "";
      position: absolute;
      width: 21px;
      height: 42px;
    }

    &--left {
      &::before {
        background: url("../img/icon-review-arrow-left.svg");
      }
    }

    &--right {
      left: 920px;

      &::before {
        background: url("../img/icon-review-arrow-right.svg");
      }
    }
  }
}
