.slider__dot-section {
  margin-top: 21px;
}

.slider__dot {
  margin: 0 7px;
  width: 1px;
  height: 1px;
  line-height: 0;
  padding: 0;
  border: 3px solid fade(@menu, 30%);
  border-radius: 3px;

  &:not(.slider__dot--current):hover {
    border-color: fade(@menu, 60%);
  }

  &:not(.slider__dot--current):active {
    border-color: fade(@menu, 10%);
  }

  &--current {
    border-color: @main-bg;
    box-shadow: 0 0 0 3px @menu;
  }
}

@media (min-width: @tablet-width) {
  .slider__dot-section {
    margin-top: 9px;

    &--hidden {
      display: none;
    }
  }

  .slider__dot {
    margin: 0 8px;
  }
}

@media (min-width: @desktop-width) {
  .slider__dot-section {
    display: none;
  }
}
