.social {

}

.social__list {
  list-style: none;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: solid 3px fade(@menu, 10%);

  &:hover {
    border-color: @menu;
  }

  &:active {
    border-color: fade(@menu, 10%);

    & .social__icon {
      fill: fade(@accent, 30%);
    }
  }
}
