.upload {
  background-color: @secondary-bg;
}

.upload__intro {
  background-color: @main-bg;
  padding: 48px 32px;
  line-height: 30px;
  color: @menu;
}

.upload__img {
  display: block;
  margin: 20px auto;
}

.upload__menu {
  display: flex;
  flex-wrap: wrap;
}

.upload__icon {
  flex-basis: 80px;
  background-color: transparent;
  border: none;

  & svg {
    fill: fade(@menu, 30%);
  }

  &:not(.upload__icon--active):hover svg {
    fill: fade(@menu, 50%);
    cursor: pointer;
  }

  &--active svg {
    fill: @accent;
  }
}

.upload__range {
  width: 100%;
  height: 2px;
  background-color: @menu;
  position: relative;
  margin-bottom: 30px;
}

.upload__toggle {
  padding: 0;
  position: absolute;
  height: 14px;
  width: 14px;
  background-color: @secondary-bg;
  border: 2px solid @accent;
  border-radius: 10px;
  cursor: pointer;
  margin-top: -6px;
  left: 80%;
}

.upload__button-section {
  background-color: @secondary-bg;
  border-top: 1px solid @border;
  padding-top: 38px;
  padding-bottom: 41px;
}

.upload__button {
  width: 281px;
  border: solid 3px;
  border-radius: 40px;
  padding: 15px 0 16px;
  font-family: inherit;
  font-weight: bold;
  line-height: 18px;
  font-size: 18px;
  background-color: transparent;

  &--submit {
    border-color: @accent;
    color: @accent;
    margin-bottom: 12px;

    &:hover,
    &:focus {
      outline: none;
      color: @main-bg;
      background-color: @accent;
    }

    &:active {
      color: fade(@main-bg, 30%);
    }
  }

  &--cancel {
    color: fade(@menu, 10%);
    border-color: fade(@menu, 10%);

    &:hover,
    &:focus {
      outline: none;
      color: fade(@menu, 30%);
      border-color: fade(@menu, 30%);
    }

    &:active {
      color: fade(@main-bg, 30%);
      border-color: transparent;
      background-color: fade(@menu, 30%);
    }
  }
}

/*@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {

}*/
