.intro {
  margin-top: 1.5px;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
  background-position: 0 -70px;

  &__slogan {
    padding: 28px 40px 33px;
    margin: 0;
    color: @main-bg;
    font-size: 24px;
    font-weight: lighter;
  }
  &__img {
    display: block;
  }
}
